(edif top
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2017 11 1 16 6 35)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-2, mapper map201609actrcp1, Build 005R"))
     )
   )
  (library ACG4
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell GND (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT))
         )
        (property is_pwr (integer 1))
       )
    )
    (cell VCC (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT))
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT))
           (port D (direction INPUT))
         )
       )
    )
    (cell CFG1 (cellType GENERIC)
      (property dont_use (string "false"))
      (property dont_touch (string "false"))
       (view PRIM (viewType NETLIST)
         (interface
           (port A (direction INPUT))
           (port Y (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell top (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port cloooock (direction INPUT))
           (port led1 (direction OUTPUT))
           (port led2 (direction OUTPUT))
         )
         (contents
          (instance N_15_i_0 (viewRef PRIM (cellRef CFG1 (libraryRef ACG4)))
           (property INIT (string "1"))
          )
          (instance led1_obuf (viewRef PRIM (cellRef OUTBUF (libraryRef ACG4)))
          )
          (instance led2_obuf (viewRef PRIM (cellRef OUTBUF (libraryRef ACG4)))
          )
          (instance GND (viewRef PRIM (cellRef GND (libraryRef ACG4)))          )
          (instance VCC (viewRef PRIM (cellRef VCC (libraryRef ACG4)))          )
          (net (rename GNDZ0 "GND") (joined
           (portRef Y (instanceRef GND))
          ))
          (net (rename VCCZ0 "VCC") (joined
           (portRef Y (instanceRef VCC))
          ))
          (net cloooock (joined
           (portRef cloooock)
          ))
          (net led1 (joined
           (portRef PAD (instanceRef led1_obuf))
           (portRef led1)
          ))
          (net led2 (joined
           (portRef PAD (instanceRef led2_obuf))
           (portRef led2)
          ))
          (net G_17 (joined
           (portRef Y (instanceRef N_15_i_0))
           (portRef D (instanceRef led2_obuf))
           (portRef D (instanceRef led1_obuf))
           (portRef A (instanceRef N_15_i_0))
          ))
         )
        (property orig_inst_of (string "top"))
       )
    )
  )
  (design top (cellRef top (libraryRef work))
	(property PART (string "m2s010tq144std") (owner "Microsemi")))
)
